*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.avif");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 552px;
    top: 238px;
    height: 194px;
    
    border-radius: 100px;
    
    background-repeat: no-repeat;
    
     
    
    left: 200px;
    
    background-image: url("mariposa.jfif");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }