*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.avif");
    
    background-repeat: no-repeat;
    
    }
    
    .fondotecno{
    
        background-image: url("fondotecno.jpg");
        
        background-repeat: no-repeat;
        
        }  
    
    
    .img{
    
    position: relative;
    
     
    
    width: 552px;
    top: 50px;
    height: 194px;
    
    border-radius: 100px;
    
    background-repeat: no-repeat;
    
     
    
    left: 900px;
    
    background-image: url("mariposa.jfif");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }

    
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }