*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.avif");
    
    background-repeat: no-repeat;
    
    }
    
    .fondotecno{
    
        background-image: url("fondotecno.jpg");
        
        background-repeat: no-repeat;
        
        }  
    
    
    .img{
    
    position: relative;
    
     
    
    width: 552px;
    top: 50px;
    height: 194px;
    
    border-radius: 100px;
    
    background-repeat: no-repeat;
    
     
    
    left: 900px;
    
    background-image: url("mariposa.jfif");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }

    
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: rgb(7, 87, 87);
    
    font-size: 20px;
    
    }

    .textoingles{
    
        text-align: justify;
        
        color: rgb(87, 18, 72);
        
        font-size: 30px;
        
        
        
        }

        .textosociales{
    
            text-align: justify;
            
            color: rgb(23, 24, 23);
            
            font-size: 40px;
            
            
            
            }

            .imgsociales{
    
                position: ;
                
                 
                
                width: 10000px;
                top: 900px;
                height: 488px;
                
                border-radius: 50px;
                
                background-repeat: no-repeat;
                
                 
                
                left: 900px;
                
                background-image: url("mapasociales.png");
                
                }

                .textosociales2{
    
                    text-align: justify;
                    
                    color: rgb(38, 5, 68);
                    
                    font-size: 40px;
                    
                    
                    
                    }

                    .textosociales3{
    
                        text-align: justify;
                        
                        color: rgb(5, 68, 49);
                        
                        font-size: 40px;
}

    .textoreligion{
    
   font-size: 30px;
    
   text-align: justify;
                                                
  color: rgb(233, 15, 186);
                                                
                                                 
   }
   
   
   .imgsociales2{
    
    position: ;
    
     
    
    width: 10000px;
    top: 200px;
    height: 400px;
    
    border-radius: 1px;
    
    background-repeat: no-repeat;
    
     
    
    left: 500px;
    
    background-image: url("imagensociales2.png");
    
    }

    .imgreligion{

        position: center;
        
         
        
        width: 10000px;
        top: 1000px;
        height: 500px;
        
        border-radius: 1px;
        
        background-repeat: no-repeat;
        
         
        
        left: 900px;
        
        background-image: url("mapareligion.png");
        
        }
    
        .imgreligion2{
    
            position: center;
            
             
            
            width: 10000px;
            top: 1000px;
            height: 500px;
            
            border-radius: 1px;
            
            background-repeat: no-repeat;
            
             
            
            left: 900px;
            
            background-image: url("mapareligion2.png");
            
            }

            .textomatematicas{
    
                font-size: 30px;
                 
                text-align: justify;
                                                             
               color: rgb(247, 37, 10);
               
               }

               .imgmate{
    
                position: ;
                
                 
                
                width: 10000px;
                top: 1000px;
                height: 500px;
                
                border-radius: 1px;
                
                background-repeat: no-repeat;
                
                 
                
                left: 900px;
                
                background-image: url("monomios.jpg");
                
                }

                .imgmate2{
    
                    position: ;
                    
                     
                    
                    width: 10000px;
                    top: 1000px;
                    height: 250px;
                    
                    border-radius: 1px;
                    
                    background-repeat: no-repeat;
                    
                     
                    
                    left: 900px;
                    
                    background-image: url("binomio.jpg");
                    
                    }

                    .imgmate3{
    
                        position: ;
                        
                         
                        
                        width: 10000px;
                        top: 1000px;
                        height: 550px;
                        
                        border-radius: 1px;
                        
                        background-repeat: no-repeat;
                        
                         
                        
                        left: 800px;
                        
                        background-image: url("polinomio.webp");
                        
                        }

                        .textomatematicas2{
    
                            font-size: 30px;
                             
                            text-align: justify;
                                                                         
                           color: rgb(247, 37, 10);
                           
                           }

                           .imgmate0{
    
                            position: relative;
                            
                             
                            
                            width: 2000px;
                            top: 150px;
                            height: 800px;
                            
                            border-radius: 1px;
                            
                            background-repeat: no-repeat;
                            
                             
                            
                            left: 50px;
                            
                            background-image: url("algebra2.jpg");
                            
                            }

                            .imgingles{
    
                                position: relative;
                                
                                 
                                
                                width: 2000px;
                                top: 150px;
                                height: 850px;
                                
                                border-radius: 1px;
                                
                                background-repeat: no-repeat;
                                
                                 
                                
                                left: 50px;
                                
                                background-image: url("ingles.jpg");
                                
                                }

                                .imgreli{
    
                                    position: relative;
                                    
                                     
                                    
                                    width: 1000px;
                                    top: 200px;
                                    height:400px;
                                    
                                    border-radius: 1px;
                                    
                                    background-repeat: no-repeat;
                                    
                                     
                                    
                                    left: 500px;
                                    
                                    background-image: url("hinduismo.webp");
                                    
                                    }

                                    .textoreli{
    
                                        font-size: 100px;
                                         
                                        text-align: justify;
                                                                                     
                                       color: rgb(28, 5, 129);
                                       
                                       }

                                       .imgsociales3{
    
                                        position: relative;
                                        
                                         
                                        
                                        width: 1000px;
                                        top: 200px;
                                        height:400px;
                                        
                                        border-radius: 1px;
                                        
                                        background-repeat: no-repeat;
                                        
                                         
                                        
                                        left: 500px;
                                        
                                        background-image: url("historia2.jpg");
                                        
                                        }